$opennms-severity-critical-light: #f5cdcd;
$opennms-severity-critical-dark: #cc0000;

$opennms-severity-major-light: #ffd7cd;
$opennms-severity-major-dark: #ff3300;

$opennms-severity-minor-light: #ffebcd;
$opennms-severity-minor-dark: #ff9900;

$opennms-severity-warning-light: #fff5cd;
$opennms-severity-warning-dark: #ffcc00;

$opennms-severity-indeterminate-light: #ebebcd;
$opennms-severity-indeterminate-dark: #999000;

$opennms-severity-normal-light: #d7e1cd;
$opennms-severity-normal-dark: #336600;

$opennms-severity-cleared-light: #eeeeee;
$opennms-severity-cleared-dark: #999999;
